.formBox{
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    width: 20vw;  
    height: 40vh; 
    background-color: antiquewhite;
    justify-content: center;
    border: solid 1px grey;
    

}