




.topic-item{  
    padding: 5%;
    padding-left: 10%;
    border-radius: 10%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.05rem;
}

.topic-item:hover {
    background-color: rgb(247, 246, 245);
    color:rgb(101, 105, 105)
  
}