
/*PostCard(component)*/
.postCardDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height:200px;
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgb(241, 245, 247);
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    
}

.titleText {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0.2em;
    margin-bottom: 0em;
    
}
.postContent {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    height: 100%;
    justify-content: flex-start;

}
.bodyText {
  font-size: 14px;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* show max 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0.5em;    
}

.TopicCardDiv{
    width:700px;
    height:100%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.295);
    box-sizing: border-box;
    cursor: pointer; 
}



.text-14-scalable {
    font-size: .90rem;     /* .875rem for comments on reddit*/
    line-height: 1.25rem;
}